<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-star"></i> Избранное</a></li>
        <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Оформить</a></li>
        <li><vc:cart></vc:cart></li>
        <li><a asp-controller="Account" asp-action="LoginRegister"><i class="fa fa-lock"></i> Вход</a></li>
    </ul>
</div>