@model LoginRegisterViewModel
@{
    ViewBag.Title = "Вход в систему";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row" id="dynamicContentContainer">

            @await Html.PartialAsync("Partial/_Login", Model.LoginViewModel)

            <div class="col-sm-1">
                <h2 class="or">ИЛИ</h2>
            </div>

           @await Html.PartialAsync("Partial/_Register", Model.RegisterUserViewModel)

        </div>

    </div>
</section>