<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <partial name="Partial/_CategoryTabNavigation" />
    </div>
    <div class="tab-content">
        <partial name="Partial/_CategoryTabPanelActive" />

        <partial name="Partial/_CategoryTabPanel" />

        <partial name="Partial/_CategoryTabPanel" />

        <partial name="Partial/_CategoryTabPanel" />

        <partial name="Partial/_CategoryTabPanel" />
    </div>
</div><!--/category-tab-->