@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="header">
    <div class="introduction">
        <h1 class="introduction__content">
            <span class="introduction__content-el">ASP.NET</span>
        </h1>
    </div>
</header>

