<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="~/Home/Employees">Сотрудники!!!</a></li>
        </ul>
    </nav>
</body>
</html>
