<div class="item">
    <div class="col-sm-4">
        <partial name="Partial/_ProductImageWrapperWithOutOverlay" />
    </div>
    <div class="col-sm-4">
        <partial name="Partial/_ProductImageWrapperWithOutOverlay" />
    </div>
    <div class="col-sm-4">
        <partial name="Partial/_ProductImageWrapperWithOutOverlay" />
    </div>
</div>